@import "./shareIcons";
@import "./discus-button";

.article {
  max-width: 930px;
  margin: auto;

  .sweep-to-top {
    color: #000;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 2px solid #ff7777;
    transition: background 300ms ease-out, color 300ms ease-out;

    &:hover {
      color: #fff;
      background: #ff0000;
      transition: background 300ms ease-in, color 300ms ease-in;
    }
  }

  figure {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  img {
    display: block;
    object-fit: contain;
    max-width: 100%;
    max-height: 800px;
    width: auto;
    height: auto;
    margin: auto;
  }

  picture {
    height: 100%;
  }

  &__date {
    small {
      margin-left: 10px;
    }
  }

  &__text {
    line-height: 150%;
    margin-bottom: 15px;
  }

  @media (max-width: 930px) {
    &__content {
      figure {
        margin-left: -15px;
        margin-right: -15px;
      }

      figcaption {
        padding: 20px 15px;
      }
    }
  }

  @media (max-width: 900px) {
    &__title {
      text-align: center;
    }
  }
}

figure {
  margin: 0 0 4px;
}

figcaption {
  padding: 20px 0;

  @media (min-width: 900px) {
    padding: 20px 16px;
  }
}

h1 {
  font-size: 2rem;
  line-height: 100%;
  margin: 0;

  @media (max-width:900px) {
    font-size: 1.6rem;
  }
}

h2 {
  font-size: 1.3rem;
  font-weight: 400;
  margin: 0 auto;
}