.disqus-contet {
  text-align: center;
  width: 100%;
  max-width: 930px;
}

.comments-button {
  background-color: #60b044;
  border: none;
  border-radius: 4px;
  color: #fff;
  padding: 15px 20px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1) translateZ(0);
  }
}