.header {
  max-width: 930px;
  margin: auto;
  margin-top: -15px;

  a {
    display: inline-block;
  }

  @media (max-width: 900px) {
    display: flex;
    justify-content: center;
  }

  svg {
    max-width: 255px;

    @media (max-width: 600px) {
      max-width: 180px;
      height: 100px;
    }
  }
}

.header-sentence {
  color: #313131;
  font-size: 9px;
  margin: auto;
}