.header {
  position: relative;

  a {
    text-decoration: none;
  }

  padding: 0 15px;
  max-width: $max-width;
  margin: 0 auto;

  .logo {
    max-width: 225px;
  }

  .header-sentence {
    position: absolute;
    color: #3e3e3e;
    font-size: 9px;
    line-height: 100%;
    margin-left: 45px;
    top: 110px;
    bottom: 9px;
  }

  // .hamburger {
  //   position: absolute;
  //   right: 15px;
  //   top: 20px;
  // }
}

#header-menu {
  position: absolute;
  top: 0;
  right: 21px;
}

.hide-overflow {
  overflow: hidden;
}
