label {
    color: #fff;
    @include font-size(13);
}

input[type=text], select, textarea {
    width: 100%;
    padding: 6px 12px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: $button-send;
    color: white;
    padding: 10px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: darken($button-send, 5%);
}