img[data-sizes="auto"] {
  display: block;
}

.item__img {
  margin-bottom: 2px;

  @media (max-width: $max-width) {
    margin: 0 -15px 2px -15px;
  }

  figcaption {
    line-height: 150%;
  }
}

figure {
  display: block;

  img {
    @include img-responsive;
    margin: 0 auto;
  }

  figcaption {
    margin: 0;
  }
}