@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  --font-color: hsl(0, 0%, 15%);
  --bg-color: hsl(40, 14%, 92%);
  --bg-zooom: hsl(40, 14%, 92%);
}

body[data-theme="dark"] {
  --font-color: hsl(0, 0%, 85%);
  --bg-color: hsl(0, 0%, 14%);
  --bg-zooom: hsl(0, 0%, 14%);
}

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  position: relative;
  font-family: "Lato", sans-serif;
  font-size: calc(16px + 0.25vw);
  line-height: 1.4;
  font-style: normal;
  min-height: 100%;
  color: var(--font-color);
  margin: 0;
  padding: 15px;
  background-color: var(--bg-color);
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

figure {
  display: block;
}

img {
  display: block;
  width: 100%;
}

svg:not(:root) {
  overflow: hidden;
}

@media (max-width: 1000px) {
  .gallery {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0, 0, 0.4, 1);
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.container {
  position: relative;
}

#zooom-overlay {
  background-color: var(--bg-zooom) !important;
}

.disqus-contet {
  &.is-active {
    padding: 10px 20px;
    border-radius: 5px;
    background: hsl(0, 0%, 98%);
  }
}
