.share-button-temp {
  margin: 20px 0;
  h3 {
    font-weight: 400;
    margin-bottom: 3px;
  }

  .share-button {
    display: inline-block;
    overflow: hidden;
    .share-icon {
      fill: #FFF;
      border: 0;
    }
    .share-btn {
      cursor: pointer;
      display: inline-block;
      overflow: hidden;
      @include transition(all .2s ease-in-out);
      background-color: transparent;
      .share-btn__hidden {
        position: absolute;
        clip: rect(1px, 1px, 1px, 1px);
        padding: 0;
        border: 0;
        overflow: hidden;
      }

      .share-btn__wrapper {
        line-height: 42px;
      }
      &.btn-facebook {
        background-color: $share-facebook;
      }
      &.btn-twitter {
        background-color: $share-twitter;
      }
      &.btn-google {
        background-color: $share-google;
      }
      &.btn-add-opinion {
        background-color: $share-button;
        color: #FFF;
        width: 125px;
        text-align: center;
        @include font-size(13);
        border-bottom: 4px solid $share-button-hover;
        &:hover {
          background-color: $share-button-hover;
        }
      }
    }
    &:hover > div {
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
  }
}

@media (min-width: $screen-ss) {

  .share-button-temp {
    .share-button {
      height: 46px;
      margin-left: -4px;
      .share-btn {
        margin: 4px 0 0;
      }
      .share-icon, .share-btn {
        width: 42px;
        height: 42px;
      }
    }
  }
}

@media (min-width: $screen-md) {
  .share-button-temp {
    .share-button {
      margin-left: -2px;
    }
  }
}