.share-button-temp {
  margin: 20px 0;

  h3 {
    font-weight: 400;
    margin-bottom: 3px;
  }

  .share {
    display: inline-block;

    &:hover>div {
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
    }

    a {
      color: #fff;
      text-decoration: none;
      padding: 11px;
    }

    &__content {
      display: inline-block;
      overflow: hidden;
    }

    &__icon {
      fill: #fff;
      border: 0;
    }

    &__btn {
      cursor: pointer;
      display: inline-block;
      overflow: hidden;
      @include transition(all 0.2s ease-in-out);
      background-color: transparent;

      &--hidden {
        position: absolute;
        clip: rect(1px, 1px, 1px, 1px);
        padding: 0;
        border: 0;
        overflow: hidden;
      }

      &--wrapper {
        line-height: 42px;
      }

      &--facebook {
        background-color: $share-facebook;
      }

      &--twitter {
        background-color: $share-twitter;
      }

      &--google {
        background-color: $share-google;
      }

      &--mail {
        background-color: $share-google;
      }

      &--add-opinion {
        background-color: $share-button;
        color: #fff;
        min-width: 125px;
        text-align: center;
        @include font-size(13);
        border-bottom: 4px solid $share-button-hover;

        &:hover {
          background-color: $share-button-hover;
        }
      }
    }
  }

  @include breakpoint($screen-ss) {
    .share__btn {
      margin: 4px 0 0;
    }

    .share__icon,
    .share__btn {
      width: 42px;
      height: 42px;
    }
  }

  @include breakpoint($screen-md) {
    margin-left: -2px;
  }
}