.text-center {
    text-align: center;
}

.pb {
    padding-bottom: 120px;
}

h1 {
    @include font-size(20);

}

.container {
    @include clearfix;
    width: 100%;
    max-width: $max-width;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.disqus-contet {
    width: 100%;
    max-width: $max-width;
}

figure {
    img {
        @include img-responsive;
        margin: 0 auto;
    }
    figcaption {
        margin: 0;
    }
}

.box-article {
    .title {
        h1 {
            @include font-size(34);
            font-weight: 700;
            @media (max-width: 480px) {
                @include font-size(30);
            }
            line-height: 120%;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    .date {
        small {
            line-height: 32px;
            vertical-align: middle;
            margin-left: 5px;
        }
    }
    .text {
        margin: 10px 0;
        line-height: 150%;
        padding-top: 10px;
        a {
            color: #f13d3d;
            text-decoration: none;
            border-bottom: 1px solid #f13d3d;
            padding-bottom: 1px;
            &:hover {
                // border-bottom: 1px solid #3dc0f1;
                color: #fff;
                border-bottom: none;
            }
        }
    }
    
    figcaption {
        margin: 15px 0;
    }
    .content {
        a {
            color: #f13d3d;
            text-decoration: none;
            border-bottom: 1px solid #f13d3d;
            padding-bottom: 1px;
            &:hover {
                // border-bottom: 1px solid #3dc0f1;
                color: #fff;
                border-bottom: none;
            }
        }
    }
}

.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    vertical-align: middle;
}

.maps-title {
    margin: 20px 0 10px;
}

.iframe-rwd {
    position: relative;
    padding-bottom: 65.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}