footer.footer.row.text-center
    - var path = self.htmlWebpackPlugin.options
    p.text-small Strona używa plików cookies. Brak zmiany ustawień przeglądarki oznacza zgodę na ich użycie.
    p Copyright © #{new Date().getFullYear()} by kody.wig.pl