footer.footer.row.text-center
    - var path = self.htmlWebpackPlugin.options
    p.text-small Strona używa plików cookies. Brak zmiany ustawień przeglądarki oznacza zgodę na ich użycie. 
        a(href="#" class="mail") Kontant mailowy.
    p Copyright © #{new Date().getFullYear()} by 
        a(href="http://wig.pl" target="_blank" class="copyright") wig.pl