footer
  p Strona używa plików cookies. Brak zmiany ustawień przeglądarki oznacza zgodę na ich użycie. 
    a(href="#" class="mail") Kontant mailowy.
  p Copyright © 
    span.fullYear
    |  by 
    a(href="http://wig.pl" rel="noopener" target="_blank" class="copyright") wig.pl