mixin header(type)
  header.header
    if type === 'article'
      a(href="./" class="header-logo" title="strona główna")
        svg(class="logo")
          use(xlink:href="#logo")
    else
      svg(class="logo")
        use(xlink:href="#logo")

    button(class="theme" aria-label="zmień motyw")
      svg(class="theme-light")
        use(xlink:href="#sun-icon")
      svg(class="theme-dark")
        use(xlink:href="#moon-icon")