mixin header()
    header.header.row
        a(href="./")
            svg(class="logo")
                use(xlink:href="#logo")
            .header-sentence Bo życie to nie ilość wdechów czy wydechów, <br />to chwile, które zapierają nam dech.
        button.hamburger
            .hamburger-center