mixin header(type)
  header.header
    if type === 'article'
      a(href="./" class="header-logo" title="strona główna")
        svg(class="logo")
          use(href="/assets/sprite.svg#logo")
    else
      svg(class="logo")
        use(href="/assets/sprite.svg#logo")

    button(class="theme" aria-label="zmień motyw")
      svg(class="theme-light")
        use(href="/assets/sprite.svg#sun-icon")
      svg(class="theme-dark")
        use(href="/assets/sprite.svg#moon-icon")