mixin theme()
  button(class="theme" aria-label="zmień motyw")
    svg(class="theme-light")
      use(href="/assets/sprite.svg#sun-icon")
    svg(class="theme-dark")
      use(href="/assets/sprite.svg#moon-icon")