footer {
  margin-top: 20px;
  text-align: center;
  font-size: 0.8rem;

  a {
    text-decoration: none;
    color: var(--font-color);

    &:hover {
      text-decoration: underline;
    }
  }

  p {
    &:first-of-type {
      font-size: 0.7rem;
    }

    &:last-of-type {
      a {
        text-transform: uppercase;
        font-weight: 600;
      }
    }
  }
}
