.gallery {
  display: grid;

  @media (max-width: 639px) {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(24, auto);
  }

  @media (min-width: 640px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(12, auto);
  }

  @media (min-width: 900px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, auto);
  }

  @media (min-width: 1280px) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, auto);
  }

  &__items {
    position: relative;
    margin: 0;
    padding: 0;
    transition: all 300ms linear;

    img {
      width: 100%;
      height: auto;
    }

    figure {
      margin: 0;

      @media (max-width: 669px) {
        margin-bottom: 2px;
      }
    }

    figcaption {
      display: none;
      position: absolute;
      text-align: center;
      width: 100%;
      margin: auto;
      z-index: 9;
      opacity: 0;
      padding: 5px 0;
      color: hsl(0, 0%, 100%);

      @media (max-width: 699px) {
        opacity: 1;
        bottom: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &::before {
          content: "";
          z-index: -1;
          position: absolute;
        }
      }
    }

    @media (min-width: 700px) {
      &:hover {
        transform: scale(1.1) translateZ(0);
        z-index: 8;

        figure:before {
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          z-index: 8;
          background: hsla(196, 87%, 59%, 0.3);
          transition: background 1s ease-in-out;
        }

        figcaption {
          display: block;
          top: 45%;
          opacity: 0.9;
          transition: opacity 400ms ease-in-out;
        }
      }
    }
  }
}
